<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>

        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
        
        <testsuite name="Admins">
            <directory suffix="Test.php">./tests/Feature/Admins</directory>
        </testsuite>

        <testsuite name="Categories">
            <directory suffix="Test.php">./tests/Feature/Categories</directory>
        </testsuite>

        <testsuite name="Characteristics">
            <directory suffix="Test.php">./tests/Feature/Characteristics</directory>
        </testsuite>

        <testsuite name="Configurations">
            <directory suffix="Test.php">./tests/Feature/Configurations</directory>
        </testsuite>

        <testsuite name="Galleries">
            <directory suffix="Test.php">./tests/Feature/Galleries</directory>
        </testsuite>

        <testsuite name="Photos">
            <directory suffix="Test.php">./tests/Feature/Photos</directory>
        </testsuite>

        <testsuite name="PhotosGalleries">
            <directory suffix="Test.php">./tests/Feature/PhotosGalleries</directory>
        </testsuite>

        <testsuite name="PhotosSlides">
            <directory suffix="Test.php">./tests/Feature/PhotosSlides</directory>
        </testsuite>

        <testsuite name="Products">
            <directory suffix="Test.php">./tests/Feature/Products</directory>
        </testsuite>

        <testsuite name="Shippings">
            <directory suffix="Test.php">./tests/Feature/Shippings</directory>
        </testsuite>

        <testsuite name="SubCategory">
            <directory suffix="Test.php">./tests/Feature/SubCategory</directory>
        </testsuite>

        <testsuite name="Users">
            <directory suffix="Test.php">./tests/Feature/Users</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_DRIVER" value="array"/>
        <server name="MAIL_DRIVER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
        <env name="DB_CONNECTION" value="sqlite_testing"/>
    </php>
</phpunit>
