.control{
    &.valid{
        width: 100%;
        margin-top: .25rem;
        font-size: 80%;
        color: #28a745;
        & input{
            border-color: #28a745;
            padding-right: calc(1.5em + .75rem);
            background-repeat: no-repeat;
            background-position: center right calc(.375em + .1875rem);
            background-size: calc(.75em + .375rem) calc(.75em + .375rem);
            text-transform: lowercase;
        }

        & input:focus{
            border-color: #28a745;
            box-shadow: 0 0 0 0.2rem rgba(40,167,69,.25);
        }
    }

    &.invalid{
        width: 100%;
        margin-top: .25rem;
        font-size: 80%;
        color: #dc3545;
        & input{
           border-color: #dc3545;
            padding-right: calc(1.5em + .75rem);
            background-repeat: no-repeat;
            background-position: center right calc(.375em + .1875rem);
            background-size: calc(.75em + .375rem) calc(.75em + .375rem);
            text-transform: lowercase;
        }

        & input:focus{
            border-color: #dc3545;
            box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25);
        }
    }
}