.control.valid {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #28a745;
}

.control.valid input,
.control.valid textarea {
  border-color: #28a745;
  padding-right: calc(1.5em + .75rem);
  background-repeat: no-repeat;
  background-position: center right calc(.375em + .1875rem);
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.control.valid input:focus,
.control.valid textarea:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.control.invalid {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.control.invalid input,
.control.invalid textarea {
  border-color: #dc3545;
  padding-right: calc(1.5em + .75rem);
  background-repeat: no-repeat;
  background-position: center right calc(.375em + .1875rem);
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.control.invalid input:focus,
.control.invalid textarea:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.lower--mdf {
  text-transform: lowercase;
}

.vfa-demo .file-preview-wrapper::before {
  background: transparent;
}

.vfa-demo .file-row {
  position: relative;
  z-index: 15;
  line-height: 24px;
  text-align: left;
  background: #EEE;
  padding: 2px 5px;
}

.vfa-demo .remove {
  float: right;
  margin-top: -3px;
}

.vfa-demo .drop-help-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 2px;
  background: rgba(255, 255, 255, 0.75);
  z-index: 1200;
  font-size: 32px;
  font-weight: bold;
  color: #888;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  display: none;
}

.vfa-demo .is-drag-over .drop-help-text {
  display: -webkit-box;
  display: flex;
}

.vfa-demo .upload-block {
  border: 2px dashed transparent;
  padding-top: 0;
}

.vfa-demo .is-drag-over.upload-block {
  border-color: #AAA;
}

.vfa-demo .vue-file-agent {
  border: 0 !important;
  box-shadow: none !important;
}

